.page-header
  %h1=@news_post.title


=render 'menu'

%p
  .well
    .well-sm
      .wbr
        =@news_post.post_text

.row
  -@news_post.image_posts.each do |im|
    -if im.image?
      .col-xs-6
        .col-md-13
          .thumbnail
            -if NewsPost.edit_by?(@current_user)
              =link_to im, data: {method: :delete, confirm: t('helpers.sure')}, class: 'btn btn-danger' do
                =fa_icon 'trash'
                Удалить
            =image_tag im.image.url(:medium), alt: @news_post.title, class: 'img-responsive'



-if not NewsPost.edit_by?(@current_user)
  %a.twitter-share-button{"data-size" => "large", :href => "https://twitter.com/share"} Tweet
  :javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

-if @news_post.user_id
  %small.text-muted=@news_post.user_id
%br
